
* {
	box-sizing: border-box;
}
.container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.hero {

	nav {
		display: flex;
		justify-content: space-between;
		ul {
			li {
				margin: 0 20px;
				font-size: 14px;
				display: inline-block;
			}
		}
	}
	.content {
		padding-top: 30vh;
		.welcome-top {
			text-align: center;
			margin: 0 auto;
			font-size: 40px;
		}
		.welcome-bottom {
			text-align: center;
			margin: 50px auto 50px auto;
			font-size: 75px;
		}
		.button {
			padding: 25px 40px;
			width: 250px;
			border: 1px solid white;
			margin: 0 auto;
			text-align: center;
			background-color: #fed136;
			font-size: 18px;
		}
	}
	padding: 2% 0;
	color: white;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	min-height: 100vh;

}